<%-include('partials/header')%>
<h1>Compose</h1>
<form method="post">
    <div class="form-group">
<p>Title</p>    
<input type="text" class='form-control'placeholder=""  name="composetitle">
</div>
<div clas="form-group">
<p>Post</p>
<textarea name="contentpost" class="form-control" id="" cols="133" rows="8"></textarea>
</div>
<button type="submit" class="btn btn-primary">Publish</button>
</form>
<%-include('partials/footer')%>
